/* Color palette */
/* prettier-ignore */

$black: #000000;
$white: #fff;
$green: #6c9161;
$purple: #4b3b47;
$orange: #4b3b47;
$light-gray: #f1f2f2;
$gray: #a7a9ac;
$slate-gray: #58595b;
$dark-gray: #6d6d6d;
$silver: #d1d3d4;

/* Global Sizes */
/* prettier-ignore */

$buttonHeight: 42px;

/* Fonts */
/* prettier-ignore */

$Poppins: 'Poppins', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Muli: 'Muli', sans-serif;

/* Padding */
/* prettier-ignore */

$MobileBodyPadding: 25px;
$TabletBodyPadding: 40px;
$DesktopBodyPadding: 55px;

/* Breakpoints */
/* prettier-ignore */

$MobileWidth: 319;
$MobileWidthPX: $MobileWidth + px;

$MobileMaxWidth: 767;
$MobileMaxWidthPX: $MobileMaxWidth + px;

$TabletMaxWidth: 1023;
$TabletMaxWidthPX: $TabletMaxWidth + px;
