@import '../../scss/partials/mixins';
@import '../../scss/partials/variables';

.section1 {
  height: auto;
}

.section2 {
  height: auto;
  text-align: center;
}

.section1,
.section2 {
  p {
    font-size: 1.2em;
    color: #000;
  }

  &.paddingTop {
    padding-top: 25%;
  }
}

.showMoreWrapper {
  padding: 20px;
  padding-top: 40px;

  @include respond-to(tablet) {
    padding-top: 60px;
  }

  @include respond-to(desktop) {
    padding-top: 70px;
  }

  button {
    background-color: $purple;

    @include respond-to(tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
