@import '../../scss/partials/mixins';
@import '../../scss/partials/variables';

.section1 {
  height: 80vh;
}

.section2 {
  height: 80vh;
  text-align: center;
}

.showMoreWrapper {
  padding: 20px;
  padding-top: 40px;

  @include respond-to(tablet) {
    padding-top: 60px;
  }

  @include respond-to(desktop) {
    padding-top: 70px;
  }

  button {
    background-color: $purple;

    @include respond-to(tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
