@import '../../../scss/partials/variables';

.firstPost {
  border: 1px solid $light-gray;
  border-radius: 2px;

  box-shadow: 0px 8px 30px 0 rgba(209, 211, 212, 0.59);
  padding: 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  .featuredImage {
    margin-bottom: 20px;
    width: 100%;
  }

  h3 {
    text-align: center;
  }
}
