@import '../../../scss/partials/variables';
@import '../../../scss/partials/mixins';

.firstPost {
  border: 1px solid $light-gray;
  border-radius: 2px;

  box-shadow: 0px 8px 30px 0 rgba(209, 211, 212, 0.59);
  padding: 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  .featuredImage {
    @include respond-to(tablet) {
      min-height: 300px;
      background-position: center;
      background-size: cover;
    }
  }

  .contentContainer {
    @include respond-to(tablet) {
      padding: 20px;
      text-align: left;
    }
  }
}
