@import '../../scss/partials/variables';
@import '../../scss/partials/mixins';
@import '../../scss/partials/helpers';

$headerHeight: 50px;
$headerHeightTablet: 75px;
$headerHeightDesktop: 85px;

%fitHeaderHeight {
  line-height: $headerHeight;

  @include respond-to(tablet) {
    line-height: $headerHeightTablet;
  }

  @include respond-to(desktop) {
    line-height: $headerHeightDesktop;
  }
}

header.header {
  @extend %bodyPadding;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $headerHeight;
  box-sizing: border-box;
  background-color: $white;

  // animat in
  top: -$headerHeightDesktop;
  animation: dropdown 0.3s forwards;
  animation-delay: 4s;

  @include respond-to(tablet) {
    height: $headerHeightTablet;
    padding: 0 25px;
  }

  @include respond-to(desktop) {
    height: $headerHeightDesktop;
    padding: 0 30px;
  }

  .menuItems {
    @include respond-to-max(tablet) {
      float: right !important;
    }

    .menuItem a {
      @extend %fitHeaderHeight;
      float: right;
      position: relative;
      z-index: 101;
      margin-right: 20px;
      width: auto;
      text-align: right;
      color: $dark-gray;
    }

    .buttonWrapper {
      @extend %fitHeaderHeight;
      float: right;

      button {
        padding: 10px 20px;
        background-color: $green;
      }
    }

    .burgerMenuWrapper {
      @extend %fitHeaderHeight;
      float: right;
      padding: 0 10px;

      :global(.hamburger-box) {
        height: 10px;
      }
    }
  }

  .menuItemsMobile {
    position: absolute;
    background-color: $light-gray;
    left: 0;
    top: $headerHeight;
    z-index: 100;
    width: 100%;

    .menuItem {
      padding: 10px 0;
      width: 100%;

      h5 {
        text-align: center;
      }
    }
  }

  .logo {
    @extend %bodyPadding;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    box-sizing: border-box;
  }
}

@keyframes dropdown {
  from {
    top: -$headerHeightDesktop;
  }
  to {
    top: 0;
  }
}
