@import '../../scss/partials/variables';
@import '../../scss/partials/mixins';
@import '../../scss/partials/helpers';

$headerHeight: 50px;
$headerHeightTablet: 75px;
$headerHeightDesktop: 85px;

$menuItemsPadding: 20px;

%fitHeaderHeight {
  line-height: $headerHeight;

  @include respond-to(tablet) {
    line-height: $headerHeightTablet - $menuItemsPadding * 2;
  }

  @include respond-to(desktop) {
    line-height: $headerHeightDesktop - $menuItemsPadding * 2;
  }
}

// used for pages to add correct margin to top
%addHeaderMargin {
  margin-top: $headerHeight;

  @include respond-to(tablet) {
    margin-top: $headerHeightTablet;
  }

  @include respond-to(desktop) {
    margin-top: $headerHeightDesktop;
  }
}

header.header {
  @extend %bodyPadding;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $headerHeight;
  box-sizing: border-box;
  background-color: $white;

  // animat in
  top: -$headerHeightDesktop;
  animation: dropdown 0.3s forwards;

  @include respond-to(tablet) {
    height: $headerHeightTablet;
    padding: 0 25px;
  }

  @include respond-to(desktop) {
    height: $headerHeightDesktop;
    padding: 0 30px;
  }

  .menuItems {
    padding: {
      top: $menuItemsPadding;
      bottom: $menuItemsPadding;
    }

    @include respond-to-max(tablet) {
      float: right !important;
      padding: 0;
    }

    .menuItem {
      a {
        @extend %fitHeaderHeight;
        float: right;
        position: relative;
        z-index: 101;
        margin-right: 20px;
        width: auto;
        text-align: right;
        color: $dark-gray;
      }

      &.match a {
        border-bottom: 5px solid $green;
      }
    }

    .buttonWrapper {
      @extend %fitHeaderHeight;
      float: right;

      button {
        padding: 10px 20px;
        background-color: $green;
      }
    }

    .burgerMenuWrapper {
      @extend %fitHeaderHeight;
      float: right;
      padding: 0 10px;

      :global(.hamburger-box) {
        height: 10px;
      }
    }
  }

  .menuItemsMobile {
    position: absolute;
    background-color: $light-gray;
    left: 0;
    top: $headerHeight;
    z-index: 100;
    width: 100%;

    .menuItem {
      padding: 10px 30%;
      width: 100%;
      box-sizing: border-box;

      h5 {
        text-align: center;
      }

      &.match {
        h5 {
          border-left: 5px solid $green;
          border-right: 5px solid $green;
        }
      }
    }
  }

  .logo {
    @extend %bodyPadding;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;

    @include respond-to-max(tablet) {
      width: 100%;
    }
  }
}

@keyframes dropdown {
  from {
    top: -$headerHeightDesktop;
  }
  to {
    top: 0;
  }
}

:export {
  headerheight: $headerHeight;
  headerheighttablet: $headerHeightTablet;
  headerheightdesktop: $headerHeightDesktop;
}
