@import '../partials/text-styles';
@import '../partials/mixins';

h1 {
  @extend %h1-mobile;

  @include respond-to(tablet) {
    font-size: 28px;
    line-height: normal;
    letter-spacing: 4px;
  }

  @include respond-to(desktop) {
    font-size: 34px;
    line-height: normal;
    letter-spacing: 5px;
  }
}

h2 {
  @extend %h2-mobile;

  @include respond-to(tablet) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  @include respond-to(desktop) {
    font-size: 42px;
    letter-spacing: 4.2px;
  }
}

h3 {
  @extend %h3-mobile;

  @include respond-to(tablet) {
    font-size: 20px;
  }

  @include respond-to(desktop) {
    font-size: 24px;
  }
}

h4 {
  @extend %h4-tablet-mobile;

  @include respond-to(desktop) {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 1.8px;
  }
}

h5 {
  @extend %h5-desktop;
}

h6 {
  @extend %h6-desktop;
}

body {
  @extend %body;
}

a {
  @extend %link;
  cursor: pointer;
}

:global .small-body :local {
  @extend %small-body;
}

:global(.hero-headline) {
  @extend %hero-headline-mobile;

  @include respond-to(tablet) {
    font-size: 72px;
    letter-spacing: 7.2px;
  }

  @include respond-to(desktop) {
    font-size: 90px;
    letter-spacing: 9px;
  }
}

:global(.hero-copy) {
  @extend %hero-copy-mobile;

  @include respond-to(tablet) {
    font-size: 13px;
    line-height: 1.38;
  }

  @include respond-to(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
